@import "../../../utils/constants.module.scss";

.floatButton {
  @include displayFlex;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  z-index: 100;
}

.iconSetting,
.iconSettingOpen,
.themeIcon,
.languajeIcon {
  @include backgroundGradient;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  height: 50px;
  padding: 5px;
  position: relative;
  transform: rotate(0);
  transition: 0.25s ease-in-out all;
  width: 50px;
  z-index: 10;
}

.themeIcon,
.languajeIcon {
  @include displayFlex;
  gap: 5px;
  justify-content: center;
  position: relative;
  top: 0%;
  z-index: 9;
}

.languajeIcon {
  transition-delay: 0.25s;
}
