$primaryColor: #b6138e;
$secundaryColor: #430f95;
$terciaryColor: #2a1454;
$softBgColor: #f6f3fc;
$projectBackground: #140c1c;

@mixin container {
  width: 70%;
  margin: auto;
}

@mixin activeTab {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

@mixin displayFlex {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

@mixin backgroundGradient {
  background: linear-gradient(to right, $primaryColor 0%, $secundaryColor 100%);
}

@mixin ulHeader {
  @include displayFlex;
  gap: 35px;
  justify-content: flex-end;
  list-style: none;
}

@mixin ulHeaderHover {
  @include displayFlex;
  gap: 35px;
  justify-content: flex-end;
  list-style: none;

  li {
    height: 100%;
    width: max-content;

    a {
      color: $terciaryColor;
      font-weight: 600;
      position: relative;

      &::before {
        @include backgroundGradient;
        border-radius: 4px;
        bottom: 6px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: transform 0.3s ease-in-out;
        width: 100%;
      }
    }

    &:hover {
      a {
        color: $primaryColor;

        &::before {
          @include activeTab;
        }
      }
    }
  }
}

@mixin textGradient {
  @include backgroundGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin linkHover {
  @include displayFlex;
  border: solid 1px $primaryColor;
  justify-content: center;
  color: $primaryColor;
  transform-origin: center;
  transition: 0.3s ease-out all;

  &:hover {
    background-color: $primaryColor;
    background-size: 100%;
    color: #fff;
    transform-origin: center;
    transition: 0.3s ease-in all;
  }
}

@mixin titleGradient {
  @include textGradient;
  font-size: 45px;
}

@mixin container {
  width: 80%;
  margin: auto;

  @media (min-width: 1800px) {
    width: 60%;
  }

  @media (max-width: 1551px) {
    width: 70%;
  }

  @media (max-width: 1450px) {
    width: 90%;
  }

  @media (max-width: 550px) {
    padding: 20px 15px;
    width: 100%;
  }
}

@mixin btnHireMe {
  @include displayFlex;
  @include backgroundGradient;
  align-items: center;
  background-size: 200%;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-left: 20px;
  max-width: 135px;
  min-width: 135px;
  padding: 17px 35px;
  text-decoration: none;
  text-transform: capitalize;
  transform-origin: right;
  transition: 0.4s all ease-in-out;

  &:hover {
    background-size: 150%;
    transform-origin: left;
    transition: 0.4s all ease-in-out;
  }
}
