@import "../../../utils/constants.module.scss";

.services {
  @include themeStyles(var(--isDark), $darkBgColor, $softBgColor);
  padding: 120px 0;
  text-align: center;
  width: 100%;

  h2 {
    @include titleGradient;
  }

  p {
    @include fontColor(var(--isDark), $terciaryColor);
    margin: auto;
    margin-bottom: 50px;
    margin-top: 15px;
    max-width: 700px;
  }
}

@mixin activeText {
  label,
  h3,
  p {
    color: #fff;
    text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.5);
    transition: all 0.5s ease-in-out;
  }
}

.servicesContainer {
  @include container;
  @include displayFlex;
  flex-direction: column;
  gap: 0;
  position: relative;

  &:not(:hover) {
    .serviceTab:nth-child(1) {
      @include activeText;
    }
  }

  .serviceTab {
    &:hover {
      @include activeText;
    }

    &:nth-child(2):hover ~ .selector {
      top: 100px;
    }

    &:nth-child(3):hover ~ .selector {
      top: 200px;
    }
  }
}

.selector {
  @include backgroundGradient;
  content: "";
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
  order: -1;
}

.serviceTab {
  @include displayFlex;
  background: transparent;
  border-bottom: solid 1px #dddddd;
  cursor: default;
  height: 100px;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 3;

  label {
    @include fontColor(var(--isDark), $primaryColor);
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }

  h3 {
    @include fontColor(var(--isDark), $primaryColor);
    font-size: 30px;
    margin-bottom: 0;
    text-align: left;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    width: 40%;
    min-width: 350px;
    z-index: 2;
  }

  p {
    @include fontColor(var(--isDark), $terciaryColor);
    margin: 0;
    padding: 30px;
    text-align: justify;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }
}

@media (max-width: 1320px) {
  .serviceTab {
    h3 {
      min-width: 300px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .serviceTab {
    h3 {
      font-size: 25px;
      min-width: 250px;
    }
  }
}

@media (max-width: 900px) {
  .serviceTab {
    flex-direction: column;
    height: 175px;
    align-items: flex-start;
    padding: 20px 15px;

    label,
    p {
      padding: 0;
    }
  }

  .selector {
    height: 175px;
  }

  .servicesContainer {
    .serviceTab {
      &:nth-child(2):hover ~ .selector {
        top: 175px;
      }

      &:nth-child(3):hover ~ .selector {
        top: 350px;
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    p {
      width: 90%;
    }
  }
}

@media (max-width: 500px) {
  .serviceTab {
    height: 200px;
  }

  .selector {
    height: 200px;
  }

  .servicesContainer {
    padding: 0;

    .serviceTab {
      &:nth-child(2):hover ~ .selector {
        top: 200px;
      }

      &:nth-child(3):hover ~ .selector {
        top: 350px;
      }
    }
  }
}
